.intro {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 95%;
      float: center;
    }
    
    .intro-text {
      left: 0;
      width: 80%;
      // margin-top: 3rem;
      // top:30rem;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%;
    .intro-text {
      margin-left:700px;
      margin-bottom: 360px;
      width:50%;
      .intro-button {
        position: absolute;
        bottom: -2rem;
        left:0;
        width: 100%;
      }
    }
    
  }
  
}

.contact-entry {
  display: flex;
  
  @media (min-width: 360px) {
    height: 80;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    justify-items: center;
  }
  p{
    margin-left: 1rem;
  }
}
