#mainNav {
  background-color: fade-out($secondary, 0.1);
  @include heading-font;
  .navbar-brand {
    color: $primary;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($white, 0.3);

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: $primary;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($white, 0.6);
          }
        }
        &.active {
          .nav-link:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.hotnews {
  height: 50px;	
  overflow: hidden;
  position: relative;
 }
 .hotnews p {
  font-size: 1em;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: hotnews 20s linear infinite;
  -webkit-animation: hotnews 20s linear infinite;
  animation: hotnews 30s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes hotnews {
  0%   { -moz-transform: translateX(100%);  }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes hotnews {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes hotnews {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }
